/*container*/
.cities {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/*cities*/
.top-button {
  color: white;
  font-size: 0.75rem;
  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.top-button:hover {
  color: #9200ba;
  transform: scale(1.15);
}

@media (min-width: 46rem) {
  .cities {
    margin: 1.25rem auto;
  }
  .top-button {
    font-size: 1.5rem;
  }
}

@media (mix-width: 20rem) {
  .top-button {
    font-size: 1.2rem;
  }
}
