/*container*/
.cities {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1.25rem 0;
}
/*cities*/
.top-button {
    color: white;
    font-size: 1.25rem;
    background-color: inherit;
    border: none;
    cursor: pointer;
}