/*description text container*/
.details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 1.25rem;
  color: aqua;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  background: rgba(39, 38, 38, 0.75);
}

/*weather details container*/
.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  background: rgba(39, 38, 38, 0.75);
}

/*current temperature*/
.weather-number {
  font-size: 8rem;
  margin: 0.25rem;
}
/*icon based on current weather*/
.weather-icon {
  width: 10rem;
  padding: 0;
}
/*weather details container: real, humidity,wind*/
.weather-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  background: rgba(39, 38, 38, 0.75);
}
/*container for individual detail*/
.weather-stat-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 100;
}
/*weather detail icon*/
.weather-stat-icon {
  margin-right: 0.25rem;
}
/*weather detail text*/
.weather-span {
  margin-left: 0.25rem;
  font-weight: 700;
}
/*container for rise/set + high/low*/
.range-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.75rem;
  color: #fff;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  background: rgba(39, 38, 38, 0.75);
}
/*text:rise/set/high/low*/
.range-text {
  font-weight: 100;
}
/*value of text*/
.range-value {
  margin-left: 0.25rem;
  font-weight: 400;
  font-size: 0.75rem;
}
.range-separator {
  font-weight: 100;
  margin: 0.15rem;
  font-size: 0.005rem;
  padding: 0;
}

@media screen and (min-width: 46rem) {
  .details {
    box-shadow: none;
    background: none;
  }
  .weather-container {
    flex-direction: row;
    box-shadow: none;
    background: none;
  }
  .weather-icon {
    padding: 1.5rem 0;
  }
  .weather-stats {
    box-shadow: none;
    background: none;
  }
  .range-container {
    flex-direction: row;
    font-size: 0.75rem;
    width: 100%;
    box-shadow: none;
    background: none;
  }
  .range-icon {
    margin: 0.35rem;
  }
  .range-separator {
    margin: 0.5rem;
    font-size: 1rem;
  }
}
