.App {
  max-width: 46rem;
  padding: 2rem;
  background: rgba(39, 38, 38, 0.25);
}

/*container*/
.time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
}

/*time*/
.time {
  color: white;
  font-size: 0.75rem;
  font-weight: 100;
}

/*location*/
.location-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.location {
  color: white;
  font-size: 1.875rem;
  font-weight: 700;
}

/*Inputs container*/
.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1.25rem 0;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

/*search bar container*/
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin-left: 1rem;
}

/*search bar*/
/*transparent search bar*/
.search-bar {
  background: rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 0.5rem;
  width: 100%;
  text-transform: capitalize;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  outline: none;
}

.search-bar::placeholder {
  color: #a0aec0;
  text-transform: lowercase;
}

/*search bar icons*/
.search-icon {
  color: #fff;
  cursor: pointer;
  margin: 0 0.5rem;
  transition: all 0.5s ease-out;
}

.mag {
  margin-left: 0.75rem;
}

.search-icon:hover {
  color: #9200ba;
  transform: scale(1.25);
}

/*temperature container*/
.temp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25%;
}

/*temperature buttons*/
.temp-button {
  color: white;
  font-size: 1.25rem;
  background-color: inherit;
  border: none;
  cursor: pointer;
  margin: 0 0.5rem;
  transition: all 0.5s ease-out;
}

.temp-button:hover {
  color: #9200ba;
  transform: scale(1.25);
}

.separator {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 0.5rem;
}

/*container for temp, location, and icon*/
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  color: #fff;
}

/*container for temp and icon*/
.temp-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 18rem;
}

/*description text container*/
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 1.25rem;
  color: aqua;
}

.details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*temp container*/
.weather-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
/*text:rise/set/high/low*/
.range-text {
  font-weight: 100;
}
/*value of text*/
.range-value {
  margin-left: 0.25rem;
  font-weight: 400;
  font-size: 0.75rem;
}
/*current temperature*/
.weather-number {
  font-size: 5rem;
  margin: 0.25rem;
}
/*icon based on current weather*/
.weather-icon {
  width: 5rem;
  padding: 0;
}
/*weather details container: real, humidity,wind*/
.weather-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 0.5rem;
}
/*container for individual detail*/
.weather-stat-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 100;
}
/*weather detail icon*/
.weather-stat-icon {
  margin-right: 0.25rem;
}
/*weather detail text*/
.weather-span {
  margin-left: 0.25rem;
  font-weight: 700;
}
/*container for rise/set + high/low*/
/* .range-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.75rem;
  color: #fff;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  background: rgba(39, 38, 38, 0.75);
} */

.range-separator {
  font-weight: 100;
  margin: 0.15rem;
  font-size: 0.005rem;
  padding: 0;
}

@media screen and (min-width: 46rem) {
  .App {
    max-width: 46rem;
    min-width: 40rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    background: rgba(39, 38, 38, 0.75);
  }
  .location-container {
    box-shadow: none;
    background: none;
  }
  .time {
    font-size: 1.25rem;
  }
  .inputs {
    flex-direction: row;
  }

  .search {
    width: 75%;
  }

  .temp-icon {
    min-width: 25rem;
  }

  .temp {
    margin-left: 0.75rem;
  }

  .weather-icon {
    width: 8rem;
  }

  .details-container {
    margin: auto 3rem;
  }

  .weather-details {
    box-shadow: none;
    background: none;
  }
  .weather-stats {
    box-shadow: none;
    background: none;
  }
  .range-container {
    flex-direction: row;
    font-size: 0.75rem;
    box-shadow: none;
    background: none;
  }
  .range-icon {
    margin: 0.35rem;
  }
  .range-text {
    font-size: 1rem;
  }
  .range-value {
    font-size: 1rem;
  }
  .range-separator {
    margin: 0.5rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 20rem) {
  .time {
    font-size: 0.7rem;
  }
}
